.l-wrapper-01 {
  width: 1220px;
  margin: 0 auto;
  &-top {
    background-image: url("../img/top_bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
}

.l-wrapper-02 {
  width: 900px;
  margin: 0 auto;
}

.l-main {
  padding-top: 18%;
}
