.m-video-01 {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
}

.m-logo-01 {
  width: 100%;
  position: fixed;
  top: 40px;
  left: 50%;
  margin-left: -40px;
  z-index: z(header);
  img {
    width: 80px;
  }
}

.m-title-01 {
  margin-bottom: 80px;
  text-align: center;
  font-size: 110%;
}

.m-title-02 {
  margin-bottom: 40px;
  text-align: center;
  &-date {
    font-size: 80%;
    color: $gray-text;
  }
  &-text {
    font-size: 90%;
  }
}

.m-title-03 {
  margin: 40px 0;
  &-title {
    font-size: 110%;
    margin-bottom: 10px;
  }
  &-date {
    font-size: 90%;
    color: $gray-text;
  }
}

.m-nav-01 {
    position: absolute;
    top: 44px;
    left: 50%;
    margin-left: -640px;
    z-index: z(nav);
    nav {
        li {
            margin-bottom: 1em;
            a {
                text-decoration: none;
                color: $black-text;
                @extend .linkAnimation;
                .l-wrapper-top & {
                  color: #fbfbfb;
                }
            }
            &:first-child {
                margin-bottom: 80px;
            }
        }
    }
}

.m-nav-02 {
  position: absolute;
  top: 44px;
  left: 15px;
  z-index: z(navSp);
  &-icon {
    position: relative;
    height: 30px;
    width: 42px;
    div {
      position: absolute;
      top: 0;
      left: 0;
      height: 2px;
      width: 30px;
      background-color: $gray-text;
      border-radius: 2px;
      &:nth-of-type(2) {
        width: 20px;
        top: 10px;
      }
    }
    &:hover {
      cursor: pointer;
    }
  }
}

.m-nav-03 {
  position: absolute;
  top: 40px;
  right: 15px;
  z-index: z(navSp);
  a {
    display: block;
    &:hover {
      cursor: pointer;
    }
  }
}

.m-nav-04 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-color: #fff;
  z-index: z(menuSp);
  &-list {
    padding-top: 85px;
    text-align: center;
    li {
      margin-bottom: 1em;
      a {
        font-size: 120%;
        @extend .linkAnimation;
      }
      &:first-child {
        margin-bottom: 50px;
      }
    }
  }
  .m-snsBox {
    padding-top: 50px;
    ul {
      display: flex;
      justify-content: center;
      li {
        &:first-child {
          margin-right: 20px;
        }
      }
    }
  }
}

.m-cancel-01 {
  position: absolute;
  top: 44px;
  left: 15px;
  z-index: 1;
  &-icon {
    &:hover {
      cursor: pointer;
    }
  }
}

.m-list-01 {
  width: 100%;
  &-block {
    display: flex;
    flex-wrap: wrap;
  }
  &-list {
    margin-bottom: 4%;
    width: 48%;
    overflow: hidden;
    &:nth-child(odd) {
      margin-right: 4%;
    }
    a {
      text-decoration: none;
      position: relative;
      display: block;
    }
  }
  &-photo {
    position: relative;
    z-index: 1;
    img {
      max-width: 100%;
      width: 100%;
      height: 300px;
      object-fit: cover;
    }
  }
  &-number {
    font-size: 200%;
    color: #1a1a1a;
    z-index: 3;
    @include photoAnimation();
    &:hover {
      @include photoAnimationHover()
    }
  }
}

.m-list-02 {
  display: flex;
  justify-content: center;
  margin: 100px 0 20px;
  li {
    color: $gray-text;
    font-size: 80%;
    padding-right: 5px;
    &:after {
      padding-left: 5px;
      content: "/";
    }
    &:last-child {
      padding-right: 0;
      &:after {
        padding-left: 0;
        content: "";
      }
    }
    a {
      color: $gray-text;
      font-size: 80%;
      text-decoration: none;
      @extend .linkAnimation;
    }
  }
}

.m-list-03 {
  &-list {
    overflow: hidden;
    margin-bottom:40px;
    text-align: center;
    a {
      text-decoration: none;
      position: relative;
      display: block;
    }
  }
  &-photo {
    position: relative;
    z-index: 1;
    img {
      max-width: 100%;
    }
  }
  &-info {
    color: $black-text;
    z-index: 3;
    @include photoAnimation();
    &:hover {
      @include photoAnimationHover()
    }
  }
  &-inner {
    text-align: center;
    font-weight: bold;
  }
  &-date {
    font-size: 75%;
  }
  &-text {
    font-size: 80%;
  }
}

.m-list-04 {
  text-align: center;
  &-list {
    margin-bottom: 40px;
    a {
      text-decoration: none;
      color: $black-text;
      font-size: 90%;
      @extend .linkAnimation;
    }
  }
}

.m-box-01 {
  img {
    display: block;
    margin: 0 auto 40px;
    max-width: 100%;
  }
}

.m-box-02 {
  &-eyecatch {
    text-align: center;
    margin-bottom: 40px;
    img {
      max-width: 100%;
    }
  }
  &-inner {
    display: flex;
    width: 100%;
  }
  &-img {
    width: 43%;
    margin-right: auto;
    img {
      max-width: 100%;
    }
  }
  &-text {
    width: 52%;
  }
  &-articleLink {
    margin-top: 130px;
    display: flex;
    justify-content: space-between;
    padding: 0 30%;
    &-link {
      a {
        @extend .linkAnimation;
      }
    }
  }
}

.m-box-03 {
  padding: 5%;
  box-sizing: border-box;
  background-color: #fafafa;
  &-title {
    margin-bottom: 20px;
    color: $gray-text02;
  }
  input,
  textarea {
    display: block;
    box-sizing: border-box;
  }
  &-input-01 {
    width: 60%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #dadada;
  }
  &-input-02 {
    width: 100%;
    resize: none;
    padding: 10px;
    border: 1px solid #dadada;
    margin-bottom: 40px;
  }
  &-button {
    border: none;
    background-color: transparent;
    background-image: url("../img/send.svg");
    background-repeat: no-repeat;
    background-size: 50px;
    color: $gray-text02;
    line-height: 50px;
    padding-left: 70px;
    font-size: 100%;
    &:hover {
      cursor: pointer;
    }
  }
}

.m-pagination-01 {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  div:first-child {
    margin-right: 10px;
  }
  a {
    font-size: 90%;
    text-decoration: none;
    color: $black-text;
    line-height: 25px;
  }
  &-block {
    display: flex;
    justify-content: center;
  }
  &-list {
    margin-right: 10px;
    a {
      width: 25px;
      display: flex;
      justify-content: center;
      &:hover {
        @include pagination();
      }
    }
    &.active {
      @include pagination();
    }
  }
}
