$black-text: #333;
$gray-text: #b2b2b2;

.m-video-01 {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
}

.m-logo-01 {
  text-align: center;
  padding: 40px 0 80px;
}

.m-title-01 {
  margin: 40px 0 80px;
  text-align: center;
  font-size: 110%;
}

.m-title-02 {
  margin: 40px 0;
  text-align: center;
  &-date {
    font-size: 80%;
    color: $gray-text;
  }
  &-text {
    font-size: 90%;
  }
}

.m-title-03 {
  margin: 40px 0;
  &-title {
    font-size: 110%;
    margin-bottom: 10px;
  }
  &-date {
    font-size: 90%;
    color: $gray-text;
  }
}

.m-nav-01 {
    position: absolute;
    top: 48px;
    left: 50%;
    margin-left: -640px;
    z-index: z(nav);
    nav {
        li {
            margin-bottom: 5px;
            a {
                text-decoration: none;
                color: $black-text;
                .l-wrapper-top & {
                  color: #fbfbfb;
                }
            }
            &:first-child {
                margin-bottom: 80px;
            }
        }
    }
}

.m-list-01 {
  &-block {
    display: flex;
    flex-wrap: wrap;
  }
  &-list {
    margin-bottom: 32px;
    overflow: hidden;
    &:nth-child(odd) {
      margin-right: 32px;
    }
    a {
      text-decoration: none;
      position: relative;
      display: block;
    }
  }
  &-photo {
    position: relative;
    z-index: 1;
    img {
      width: 594px;
    }
  }
  &-number {
    font-size: 220%;
    color: #1a1a1a;
    position: absolute;
    top: 0;
    z-index: 3;
    @include photoAnimation();
    &:hover {
      @include photoAnimationHover()
    }
  }
}

.m-list-02 {
  display: flex;
  justify-content: center;
  margin: 100px 0 20px;
  li {
    color: $gray-text;
    font-size: 80%;
    padding-right: 5px;
    &:after {
      padding-left: 5px;
      content: "/";
    }
    &:last-child {
      padding-right: 0;
      &:after {
        padding-left: 0;
        content: "";
      }
    }
    a {
      color: $gray-text;
      font-size: 80%;
      text-decoration: none;
    }
  }
}

.m-list-03 {
  &-list {
    overflow: hidden;
    width: 400px;
    margin: 0 auto 40px;
    a {
      text-decoration: none;
      position: relative;
      display: block;
    }
  }
  &-photo {
    position: relative;
    z-index: 1;
    img {
      max-width: 100%;
    }
  }
  &-info {
    color: $black-text;
    position: absolute;
    top: 0;
    z-index: 3;
    @include photoAnimation();
    &:hover {
      @include photoAnimationHover()
    }
  }
  &-inner {
    text-align: center;
    font-weight: bold;
  }
  &-date {
    font-size: 75%;
  }
  &-text {
    font-size: 80%;
  }
}

.m-list-04 {
  text-align: center;
  &-list {
    margin-bottom: 40px;
    a {
      text-decoration: none;
      color: #4d4d4d;
      font-size: 90%;
    }
  }
  &-list-noLink {
    margin-bottom: 40px;
    font-size: 90%;
  }
}

.m-box-01 {
  width: 1200px;
  margin: 0 auto;
  img {
    display: block;
    margin: 0 auto 40px;
    max-width: 100%;
  }
}

.m-box-02 {
  width: 900px;
  margin: 0 auto;
  &-eyecatch {
    margin-bottom: 40px;
    img {
      max-width: 100%;
    }
  }
  &-inner {
    display: flex;
  }
  &-img {
    margin-right: 40px;
    img {
      width: 400px;
    }
  }
}

.m-box-03 {
  width: 900px;
  margin: 0 auto;
  padding: 40px;
  box-sizing: border-box;
  background-color: #fafafa;
  &-title {
    margin-bottom: 20px;
    color: #989898;
  }
  input,
  textarea {
    display: block;
    box-sizing: border-box;
  }
  &-input-01 {
    width: 50%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #dadada;
  }
  &-input-02 {
    width: 100%;
    resize: none;
    padding: 10px;
    border: 1px solid #dadada;
    margin-bottom: 40px;
  }
  &-button {
    border: none;
    background-color: transparent;
    background-image: url("../img/send.svg");
    background-repeat: no-repeat;
    background-size: 50px;
    color: #989898;
    line-height: 50px;
    padding-left: 70px;
    &:hover {
      cursor: pointer;
    }
  }
}
.m-pagination-01 {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  div:first-child {
    margin-right: 10px;
  }
  a {
    font-size: 90%;
    text-decoration: none;
    color: $black-text;
    line-height: 25px;
  }
  &-block {
    display: flex;
    justify-content: center;
  }
  &-list {
    margin-right: 10px;
    a {
      width: 25px;
      display: flex;
      justify-content: center;
      &:hover {
        @include pagination();
      }
    }
    &.active {
      @include pagination();
    }
  }
}
