.is-linkAnimation {
  position: relative;
  display: inline-block;
  &:before {
    position: absolute;
    top: 1.5em;
    left: 0;
    content: "";
    display: inline-block;
    width: 0;
    height: 1px;
    background: #4d4d4d;
    transition: .3s;
  }
  &:hover:before {
    width: 100%;
  }
}
