div.m-calendar-01
    div.m-calendar-01-inner
        p.m-calendar-01-title Calendar
        div.m-cancel-01
            p.m-cancel-01-icon.fn-calendarClose: span.m-cancel-01-close
                br
                span.m-cancel-01-text 閉じる
        div.m-calendar-01-img
            img(src="../img/calendar.svg", alt="営業スケジュール")
        div.m-calendar-01-text-01
            span
            | working day
        p.m-calendar-01-text-02
            | 東京都渋谷区神宮前４丁目４−１２−１０
            br
            | 表参道ヒルズ同潤館
div.m-calendar-02.is-hide
    div.m-calendar-02-inner
        p.m-calendar-02-title Calendar
        div.m-cancel-01
            p.m-cancel-01-icon.fn-calendarClose: span.m-cancel-01-close
        div.m-calendar-02-img
            img(src="../img/calendar.svg", alt="営業スケジュール")
        div.m-calendar-02-text-01
            span
            | working day
        p.m-calendar-02-text-02
            | 東京都渋谷区神宮前４丁目４−１２−１０
            br
            | 表参道ヒルズ同潤館
