div.m-nav-01.is-pc
    nav
        ul
            li: a(href="./top.html") HOME
            li: a(href="./newsList.html") News
            li: a(href="./collectionList.html") Collection
            li: a(href="./exhibitionList.html") Exhibition
            li: a(href="./stocklist.html") Stocklist
            li: a(href="./contact.html") Contact
            li: a.calendarNav(href="javascript:void(0)") Calendar
            li: a(href="./about.html") About
    div.m-snsBox
        ul
            li: a.instagram(href="#", target="_blank")
            li: a.facebook(href="#", target="_blank")

div.m-nav-02.is-sp
    div.m-nav-02-icon
        div
        div
div.m-nav-03.is-sp
    div.m-nav-03-icon: img(src="../img/calendar.svg", width="26", alt="カレンダー")
div.m-nav-04.is-hide
    nav
        ul.m-nav-04-list
            li: a(href="./top.html") HOME
            li: a(href="./newsList.html") News
            li: a(href="./collectionList.html") Collection
            li: a(href="./exhibitionList.html") Exhibition
            li: a(href="./stocklist.html") Stocklist
            li: a(href="./contact.html") Contact
            li: a(href="./about.html") About
    div.m-snsBox
        ul
            li: a.instagram(href="#", target="_blank")
            li: a.facebook(href="#", target="_blank")
    div.m-cancel-01
        p.m-cancel-01-icon: span

