div.m-nav-01
    nav
        ul
            li: a(href="#") HOME
            li: a(href="#") About
            li: a(href="#") Collection
            li: a(href="#") News
            li: a(href="#") Contact
            li: a(href="#") Callendar
    div.m-snsBox
        ul
            li: a(href="#") insta
            li: a(href="#") facebook
