div.m-nav-01.is-pc
    nav
        ul
            li: a(href="./top.html") HOME
            li: a(href="./about.html") About
            li: a(href="./collectionList.html") Collection
            li: a(href="./archiveList.html") Archive
            li: a(href="./newsList.html") News
            li: a(href="./stocklist.html") Stocklist
            li: a(href="./contact.html") Contact
            li: a(href="#") Callendar
    div.m-snsBox
        ul
            li: a(href="#") insta
            li: a(href="#") facebook

div.m-nav-02.is-sp
    div.m-nav-02-icon
        div
        div
div.m-nav-03.is-sp
    div.m-nav-03-icon: img(src="../img/calendar.svg", width="26", alt="カレンダー")
div.m-nav-04.is-hide
    nav
        ul.m-nav-04-list
            li: a(href="./top.html") HOME
            li: a(href="./about.html") About
            li: a(href="./collectionList.html") Collection
            li: a(href="./archiveList.html") Archive
            li: a(href="./newsList.html") News
            li: a(href="./stocklist.html") Stocklist
            li: a(href="./contact.html") Contact
    div.m-snsBox
        ul
            li: a(href="#") insta
            li: a(href="#") facebook
    div.m-cancel-01
        p.m-cancel-01-icon 閉じる

div.m-nav-05.is-hide
    p.m-nav-05-title Calendar
    div.m-cancel-01
        p.m-cancel-01-icon 閉じる
