div.m-pagination-01
    div: a(href="#") < Prev
    ul.m-pagination-01-block
        li.m-pagination-01-list.active 1
        li.m-pagination-01-list: a(href="#") 2
        li.m-pagination-01-list: a(href="#") 3
        li.m-pagination-01-list: a(href="#") 4
        li.m-pagination-01-list: a(href="#") 5
    div: a(href="#") Next >
