doctype html
html(lang="ja")
    head
        include _include/header
    body
        div.wrapper
            include _include/logo
            main
                section
                    h1.m-title01 ABOUT
                    div.m-box-01
                        div.m-box-01-img
                            img(src="../img/about.jpg")
                        p.m-box-01-txt
                            | pasoについてコンセプトを入れるページになります。コンセプトを入れるページになります。pasoについてコンセプトを入れるページになります。コンセプトを入れるページになります。pasoについてコンセプトを入れるページになります。コンセプトを入れるページになります。
                            br
                            | コンセプトを入れるページになります。コンセプトを入れるページになります。
                            br
                            | コンセプトを入れるページになります。コンセプトを入れるページになります。
            include _include/nav
            include _include/footer
