doctype html
html(lang="ja")
    head
        include _include/meta
    body
        div.l-wrapper
            include _include/header2
            main.l-main
                section
                    div.m-title-02
                        p.m-title-02-date 2018.06.01
                        h1.m-title-02-text 1LDK 中目黒/名古屋
                    div.m-box-01
                        img(src="../img/collection.jpg", alt="")
                        img(src="../img/collection.jpg", alt="")
                        img(src="../img/collection.jpg", alt="")
            include _include/nav
            include _include/footer
