doctype html
html(lang="ja")
    head
        include _include/meta
    body
        div.l-wrapper-02
            include _include/header2
            main.l-main
                section
                    div.m-list-03
                        ul.m-list-03-block
                            li.m-list-03-list: a(href="./archiveDetail.html")
                                div.m-list-03-photo: img(src="../img/collection.jpg", width="300", alt="")
                                div.m-list-03-info
                                    div.m-list-03-inner
                                        span.m-list-03-date 2018.06.01
                                        br
                                        span.m-list-03-text 1LDK 中目黒/名古屋
                            li.m-list-03-list: a(href="./archiveDetail.html")
                                div.m-list-03-photo: img(src="../img/collection.jpg", alt="")
                                div.m-list-03-info
                                    div.m-list-03-inner
                                        span.m-list-03-date 2018.06.01
                                        br
                                        span.m-list-03-text 1LDK 中目黒/名古屋
                            li.m-list-03-list: a(href="./archiveDetail.html")
                                div.m-list-03-photo: img(src="../img/collection.jpg", alt="")
                                div.m-list-03-info
                                    div.m-list-03-inner
                                        span.m-list-03-date 2018.06.01
                                        br
                                        span.m-list-03-text 1LDK 中目黒/名古屋
                            li.m-list-03-list: a(href="./archiveDetail.html")
                                div.m-list-03-photo: img(src="../img/collection.jpg", alt="")
                                div.m-list-03-info
                                    div.m-list-03-inner
                                        span.m-list-03-date 2018.06.01
                                        br
                                        span.m-list-03-text 1LDK 中目黒/名古屋
                    include _include/pagination
            include _include/nav
            include _include/footer
