doctype html
html(lang="ja")
    head
        include _include/header
    body
        div.wrapper
            include _include/logo
            main
                section
                    h1.m-title01 ARCHIVE
                    div.m-list-04
                        ul
                            li: a(href="#")
                                div.m-box-04-photo: img(src="../img/collection.jpg", width="400", alt="")
                                div.m-box-info
                                    p.m-box-04-date 2018.06.01
                                    p.m-box-04-txt 1LDK 中目黒/名古屋
                            li: a(href="#")
                                div.m-box-04-photo: img(src="../img/collection.jpg", width="400", alt="")
                                div.m-box-info
                                    p.m-box-04-date 2018.06.01
                                    p.m-box-04-txt 1LDK 中目黒/名古屋
                            li: a(href="#")
                                div.m-box-04-photo: img(src="../img/collection.jpg", width="400", alt="")
                                div.m-box-info
                                    p.m-box-04-date 2018.06.01
                                    p.m-box-04-txt 1LDK 中目黒/名古屋
                            li: a(href="#")
                                div.m-box-04-photo: img(src="../img/collection.jpg", width="400", alt="")
                                div.m-box-info
                                    p.m-box-04-date 2018.06.01
                                    p.m-box-04-txt 1LDK 中目黒/名古屋
                    include _include/pagination
            include _include/nav
            include _include/footer
