doctype html
html(lang="ja")
    head
        include _include/meta
    body
        div.l-wrapper
            include _include/header2
            main
                section
                    div.m-list-01
                        ul.m-list-01-block
                            li.m-list-01-list: a(href="#")
                                div.m-list-01-photo: img(src="../img/collection.jpg", alt="")
                                p.m-list-01-number
                                    span
                                    | 10日(月)
                                    br
                                    | さらに積雪
                            li.m-list-01-list: a(href="#")
                                div.m-list-01-photo: img(src="../img/collection.jpg", alt="")
                                p.m-list-01-number
                                    span 2
                            li.m-list-01-list: a(href="#")
                                div.m-list-01-photo: img(src="../img/collection.jpg", alt="")
                                p.m-list-01-number
                                    span 3
                            li.m-list-01-list: a(href="#")
                                div.m-list-01-photo: img(src="../img/collection.jpg", alt="")
                                p.m-list-01-number
                                    span 4
                    include _include/pagination
            include _include/nav
            include _include/footer
