doctype html
html(lang="ja")
    head
        include _include/header
    body
        div.wrapper
            include _include/logo
            main
                section
                    h1.m-title01 COLLECTION_DETAIL
                    div.m-box-03
                        img(src="../img/collection.jpg", width="300", alt="")
                        img(src="../img/collection.jpg", width="300", alt="")
                        img(src="../img/collection.jpg", width="300", alt="")
            include _include/nav
            include _include/footer
