doctype html
html(lang="ja")
    head
        include _include/meta
    body
        div.l-wrapper-01
            include _include/header2
            main.l-main
                section
                    div#fn-animationList.m-list-01
                        ul.m-list-01-block
                            li.m-list-01-list(data-position=""): a(href="./collectionDetail.html")
                                div.m-list-01-photo: img(src="../img/collection.jpg", alt="")
                                p.m-list-01-number
                                    | 10日(月)
                                    br
                                    | さらに積雪
                            li.m-list-01-list(data-position=""): a(href="./collectionDetail.html")
                                div.m-list-01-photo: img(src="../img/collection.jpg", alt="")
                                p.m-list-01-number 2
                            li.m-list-01-list(data-position=""): a(href="./collectionDetail.html")
                                div.m-list-01-photo: img(src="../img/collection.jpg", alt="")
                                p.m-list-01-number 3
                            li.m-list-01-list(data-position=""): a(href="./collectionDetail.html")
                                div.m-list-01-photo: img(src="../img/collection.jpg", alt="")
                                p.m-list-01-number 4
                            li.m-list-01-list(data-position=""): a(href="./collectionDetail.html")
                                div.m-list-01-photo: img(src="../img/collection.jpg", alt="")
                                p.m-list-01-number 5
                            li.m-list-01-list(data-position=""): a(href="./collectionDetail.html")
                                div.m-list-01-photo: img(src="../img/collection.jpg", alt="")
                                p.m-list-01-number 6
                            li.m-list-01-list(data-position=""): a(href="./collectionDetail.html")
                                div.m-list-01-photo: img(src="../img/collection.jpg", alt="")
                                p.m-list-01-number 7
                            li.m-list-01-list(data-position=""): a(href="./collectionDetail.html")
                                div.m-list-01-photo: img(src="../img/collection.jpg", alt="")
                                p.m-list-01-number 8
                            li.m-list-01-list(data-position=""): a(href="./collectionDetail.html")
                                div.m-list-01-photo: img(src="../img/collection.jpg", alt="")
                                p.m-list-01-number 9
                            li.m-list-01-list(data-position=""): a(href="./collectionDetail.html")
                                div.m-list-01-photo: img(src="../img/collection.jpg", alt="")
                                p.m-list-01-number 10
                    include _include/pagination
            include _include/nav
            include _include/footer
