doctype html
html(lang="ja")
    head
        include _include/header
    body
        div.wrapper
            include _include/logo
            main
                section
                    h1.m-title01 COLLECTION
                    div.m-list-01
                        ul
                            li: a(href="#")
                                div.m-box-02-photo: img(src="../img/collection.jpg", width="300", alt="")
                                p.m-box-02-number 1
                            li: a(href="#")
                                div.m-box-02-photo: img(src="../img/collection.jpg", width="300", alt="")
                                p.m-box-02-number 1
                            li: a(href="#")
                                div.m-box-02-photo: img(src="../img/collection.jpg", width="300", alt="")
                                p.m-box-02-number 1
                            li: a(href="#")
                                div.m-box-02-photo: img(src="../img/collection.jpg", width="300", alt="")
                                p.m-box-02-number 1
                    include _include/pagination
            include _include/nav
            include _include/footer
