doctype html
html(lang="ja")
    head
        include _include/header
    body
        div.wrapper
            include _include/logo
            main
                section
                    h1.m-title03 contact
                    div.m-contact-01
                        form
                            input(type="text", placeholder="name")
                            input(type="text", placeholder="email")
                            input(type="textarea", placeholder="message")
                            input(type="submit", value="send")
            include _include/nav
            include _include/footer
