doctype html
html(lang="ja")
    head
        include _include/header
    body
        video.m-video-01(src="../video/top.mp4", poster="sample.png" autoplay loop)
        h1
            img(src="../img/logo_white.svg", width="100")
        ul
            li: a(href="#") paso jewelry
            li: a(href="#") paso wear
