doctype html
html(lang="ja")
    head
        include _include/header
    body
        div.wrapper
            include _include/logo
            main
                section
                    h1.m-title01 NEWS
                    div.m-List-01
                        dl
                            dt
                                | EVENT
                                span.m-List-01-date 2018.06.01
                            dd 日本と欧州連合（EU）の経済連携協定（EPA）が8日未明、参院本会議で採決され、与党などの賛成多数で承認された。政府は政省令の改正など必要な手続きを年内に終える方針。欧州議会も年内に批准する予定で、協定は来年2月1日に発効する見通しだ。
                            dt
                                | EVENT
                                span.m-List-01-date 2018.06.01
                            dd 日本と欧州連合（EU）の経済連携協定（EPA）が8日未明、参院本会議で採決され、与党などの賛成多数で承認された。政府は政省令の改正など必要な手続きを年内に終える方針。欧州議会も年内に批准する予定で、協定は来年2月1日に発効する見通しだ。
                            dt
                                | EVENT
                                span.m-List-01-date 2018.06.01
                            dd 日本と欧州連合（EU）の経済連携協定（EPA）が8日未明、参院本会議で採決され、与党などの賛成多数で承認された。政府は政省令の改正など必要な手続きを年内に終える方針。欧州議会も年内に批准する予定で、協定は来年2月1日に発効する見通しだ。
                            dt
                                | EVENT
                                span.m-List-01-date 2018.06.01
                            dd 日本と欧州連合（EU）の経済連携協定（EPA）が8日未明、参院本会議で採決され、与党などの賛成多数で承認された。政府は政省令の改正など必要な手続きを年内に終える方針。欧州議会も年内に批准する予定で、協定は来年2月1日に発効する見通しだ。
            include _include/nav
            include _include/footer
