doctype html
html(lang="ja")
    head
        include _include/meta
    body
        div.l-wrapper
            include _include/header2
            main
                section
                    h1.m-title-01 -NEWS-
                    article.m-list-04
                        ul
                            li.m-list-04-list: a(href="#") 2018.06.01
                            li.m-list-04-list: a(href="#") 2018.06.01
                            li.m-list-04-list: a(href="#") 2018.06.01
                            li.m-list-04-list: a(href="#") 2018.06.01
                    include _include/pagination
            include _include/nav
            include _include/footer
