doctype html
html(lang="ja")
    head
        include _include/meta
    body
        div.wrapper
            include _include/header
            main
                section
                    div.m-box-01
                        p.m-box-01-txt Event
                            span.m-box-01 2018.06.01
                    h1.m-title03 日本と欧州連合（EU）
                    article.m-box-02
                        div.m-box-02-eyecatch
                            img(src="../img/about.jpg")
                        div.m-box-02-article
                            | 日本と欧州連合（EU）の経済連携協定（EPA）が8日未明、参院本会議で採決され、与党などの賛成多数で承認された。政府は政省令の改正など必要な手続きを年内に終える方針。欧州議会も年内に批准する予定で、協定は来年2月1日に発効する見通しだ。
                            br
                            | 日本と欧州連合（EU）の経済連携協定（EPA）が8日未明、参院本会議で採決され、与党などの賛成多数で承認された。政府は政省令の改正など必要な手続きを年内に終える方針。欧州議会も年内に批准する予定で、協定は来年2月1日に発効する見通しだ。

            include _include/nav
            include _include/footer
