doctype html
html(lang="ja")
    head
        include _include/meta
    body
        div.l-wrapper
            include _include/header2
            main
                section
                    h1.m-title-01 -StockList-
                    div.m-list-04
                        ul
                            li.m-list-04-list-noLink Nid a deux
                            li.m-list-04-list-noLink Nid
                            li.m-list-04-list-noLink 1LDK
                            li.m-list-04-list-noLink FUDGE UP NOTHING
                            li.m-list-04-list-noLink ESTNATION
                            li.m-list-04-list-noLink SEIN
                            li.m-list-04-list-noLink Nid a deux
                            li.m-list-04-list-noLink Nid
                            li.m-list-04-list-noLink 1LDK
                            li.m-list-04-list-noLink FUDGE UP NOTHING
                            li.m-list-04-list-noLink ESTNATION
                            li.m-list-04-list-noLink SEIN
            include _include/nav
            include _include/footer
