doctype html
html(lang="ja")
    head
        include _include/meta
    body
        div.wrapper
            include _include/header
            main
                section
                    h1.m-title01 -StockList-
                    div.m-list-03
                        ul
                            li Nid a deux
                            li Nid
                            li 1LDK
                            li FUDGE UP NOTHING
                            li ESTNATION
                            li SEIN
                            li Nid a deux
                            li Nid
                            li 1LDK
                            li FUDGE UP NOTHING
                            li ESTNATION
                            li SEIN
            include _include/nav
            include _include/footer
