doctype html
html(lang="ja")
    head
        include _include/header
    body
        main
            wrapper.top
                h1
                    img(src="../img/logo_white.svg", width="100", alt="Paso")
                include _include/nav
